@{
    ViewData["Title"] = "Hobbies";
}

<main>
    <nav class='nav'>
        <ion-icon class='btn prev' name="arrow-back-outline"></ion-icon>
        <ion-icon class='btn next' name="arrow-forward-outline"></ion-icon>
    </nav>
    <ul class='slider'>
        <li class='item' style="background-image: url('/lib/img/IMG_1860.jpg')">
            @* <div class='content'>
                <h2 class='title'>"FULL SEND"</h2>
                <p class='description'>
                    Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim.
                </p>
            </div> *@
        </li>
        <li class='item' style="background-image: url('/lib/img/IMG_2292.jpg')">
            <div class='content'>
                <h1>FULL SEND</h1><br />
                <h3>
                    Life is too short to be scared to live. Many people fear making mistakes and with that, 
                    miss out on the beauty life offers. Find out how to live a more fulfilling life through 
                    these services!
                </h3><br />
                <h2>Continue to Learn More</h2>
            </div>
        </li>
        <li class='item' style="background-image: url('/lib/img/IMG_2168.jpg')">
            <div class='content'>
                <h1>FULL SEND</h1><br />
                <h3>
                    "Embrace the fear, trust in your abilities, and commit to the journey with unwavering
                    determination – for in the full send lies the potential to unlock greatness and surpass
                    all limitations."
                </h3><br />
                <h2>Learn More About Me</h2>
            </div>
        </li>
        <li class='item' style="background-image: url('/lib/img/IMG_1397.jpg')">
            <div class='content'>
                <h3>More About Me</h3><br />
                <h4>
                    For me in my life, I have run into many different situations where I have felt trapped 
                    or controlled by others around me. Who wants to feel that? In those times I felt as if 
                    my happiness had disspated, making it harder for me to feel true joy that life offers. 
                    Full send is a motto that started to mean more in my life. <br /><br />Continue...
                </h4>
            </div>
        </li>
        <li class='item' style="background-image: url('/lib/img/IMG_8382.jpg')">
            <div class='content'>
                <h3>Give These Services a Try</h3><br />
                <h4>
                    Once I started traveling, horseback riding, cliff jumping, snow mobiling, dirt biking, 
                    etc., life got better. Here I will help get you from where you are to where you want 
                    to be by reaching your full potential. Do we ever really know how much time we have 
                    left in life? Do not sit around adding more to your pile of regrets.
                    
                    <br /><br />Check out tutor services!
                </h4>
            </div>
        </li>
        <li class='item' style="background-image: url('/lib/img/IMG_7120.jpg')">
            @* <div class='content'>
                <h2 class='title'>"The Migration"</h2>
                <p class='description'>
                    Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore fuga voluptatum, iure corporis inventore
                    praesentium nisi. Id laboriosam ipsam enim.
                </p>
            </div> *@
        </li>
    </ul>
</main>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
